.build_margin{
  margin-top: rem(200);
}
.build{
  background-color: #fcf0d4;
  padding-top: rem(160);
  padding-bottom: rem(106);

}
.build__sub-ttl{
  // left:rem(120);
}
.build__sub-ttl::before{
  left:rem(100);
  @include mq("md") {
    left:rem(246);
 
  }
}

.build__ttl{
  writing-mode: vertical-rl;
  top:-3%;
  right:-5%;
  z-index:1;
  
  @include mq("sm") {
    right:-14%;
    z-index:0;
 
  }
  @include mq("md") {
    right:0;
 
  }
}

.build-items{
  @include mq("md") {
    
    display:flex;
    flex-wrap:wrap;
  }
}
.build__main {
  // margin-top: rem(120);
  max-width:880px;
  margin:rem(120) auto 0;
  width:100%;
}

.build-items__item{
  margin-bottom: rem(64);
  background-color:#fff;
  text-align:center;
  padding:rem(20) rem(36) rem(46);
  position: relative;

  width:100%;
  @include mq("md") {
   width:27.27%;
 
}
}

        

.build-items__item + .build-items__item{
  @include mq("md") {
    margin-left:4%;
  }
}

.build-items__item:nth-child(3n + 1){
  margin-left:0;
}

.build-item__ttl-en{
  color:#d19458;
  font-size: rem(24);
  line-height: 1.25;
  letter-spacing: 5%;
  font-family:Roboto;
}

.build-item__img{
  width:rem(100);
  height:rem(100);
  margin-top: rem(29);
  margin-left:auto;
  margin-right:auto;
}

.build-item__img img{
  width:100%;
  height:100%;
}

.build-item__ttl{
  font-size: rem(24);
  line-height: 1.25;
  letter-spacing: 5%;
  margin-top: rem(23);
}

.build-item__text{
  line-height: 1.5;
  letter-spacing: 5%;
  margin-top: rem(16);
  text-align: left;
}

.build-item__arrow{
  position:absolute;
  width:rem(30);
  height:rem(30);
  bottom:10px;
  right:10px;


}

.build-item__arrow img{
  width:100%;
  height:100%;
}

.build__tree{
  position:absolute;
  width:rem(180);
  height:rem(145);
  left:0;
  bottom:-10%;
  @include mq("md") {
    bottom:-15%;
 
  }
}

.build__tree img{
  width:100%;
  height:100%;
}